#!/usr/bin/env python3
# -*- coding: utf-8 -*-
from typing import Sequence

from sqlalchemy import Select

from backend.app.{{ app_name }}.crud.crud_{{ table_name }} import {{ table_name }}_dao
from backend.app.{{ app_name }}.model import {{ class_name }}
from backend.app.{{ app_name }}.schema.{{ table_name }} import Create{{ schema_name }}Param, Delete{{ schema_name }}Param, Update{{ schema_name }}Param
from backend.common.exception import errors
from backend.database.db import async_db_session


class {{ class_name }}Service:
    @staticmethod
    async def get(*, pk: int) -> {{ class_name }}:
        """
        Get {{ doc_comment }}

        :param pk: {{ doc_comment }} ID
        :return:
        """
        async with async_db_session() as db:
            {{ table_name }} = await {{ table_name }}_dao.get(db, pk)
            if not {{ table_name }}:
                raise errors.NotFoundError(msg='{{ doc_comment }} does not exist')
            return {{ table_name }}

    @staticmethod
    async def get_select() -> Select:
        """Get {{ doc_comment }} query object"""
        return await {{ table_name }}_dao.get_list()

    @staticmethod
    async def get_all() -> Sequence[{{ class_name }}]:
        """Get all {{ doc_comment }}"""
        async with async_db_session() as db:
            {{ table_name }}s = await {{ table_name }}_dao.get_all(db)
            return {{ table_name }}s

    @staticmethod
    async def create(*, obj: Create{{ schema_name }}Param) -> None:
        """
        Create {{ doc_comment }}

        :param obj: Create {{ doc_comment }} parameters
        :return:
        """
        async with async_db_session.begin() as db:
            await {{ table_name }}_dao.create(db, obj)

    @staticmethod
    async def update(*, pk: int, obj: Update{{ schema_name }}Param) -> int:
        """
        Update {{ doc_comment }}

        :param pk: {{ doc_comment }} ID
        :param obj: Update {{ doc_comment }} parameters
        :return:
        """
        async with async_db_session.begin() as db:
            count = await {{ table_name }}_dao.update(db, pk, obj)
            return count

    @staticmethod
    async def delete(*, obj: Delete{{ schema_name }}Param) -> int:
        """
        Delete {{ doc_comment }}

        :param obj: List of {{ doc_comment }} IDs
        :return:
        """
        async with async_db_session.begin() as db:
            count = await {{ table_name }}_dao.delete(db, obj.pks)
            return count


{{ instance_name }}_service: {{ class_name }}Service = {{ class_name }}Service()
